* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: linear-gradient(120deg, #e2c35d, #d88771);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 400px;
    padding: 24px;
    background-color: #fff;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

h1 {
    font-size: 15px;
}

.input {
    outline: none;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid;
}

.generate--btn {
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 8px;
    padding: 16px 12px;
    font-family: inherit;
    margin-bottom: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #d88771;
}

.imgBox {
    margin: 0 auto;
    display: none;
}

.qr--img {
    min-width: 150px;
}

.show {
    display: block;
}