* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.ring {
    position: relative;
    width: 150px;
    height: 150px;
    border: 4px solid transparent;
    border-top: 4px solid #ffd60a;
    border-radius: 50%;
    animation: animate 4s linear infinite;
    margin: -30px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.ring::before {
    content: "";
    top: 12px;
    right: 12px;
    position: absolute;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    box-shadow: 0 0 0 5px #ffd60a33, 0 0 0 10px #ffd60a22, 0 0 0 20px #ffd60a11, 0 0 20px #ffd60a, 0 0 50px #ffd60a;
    background-color: #ffd60a;
}

.ring--2 {
    animation: animate-2 4s linear infinite;
    animation-delay: -1s;
    border-top: 4px solid transparent;
    border-left: 4px solid #00fff5;
}

@keyframes animate-2 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.ring--2::before {
    content: "";
    position: absolute;
    top: initial;
    width: 15px;
    height: 15px;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    height: 15px;
    box-shadow: 0 0 0 5px #00fff533, 0 0 0 10px #00fff522, 0 0 0 20px #00fff511, 0 0 20px #00fff5, 0 0 50px #00fff5;
    background-color: #00fff5;
}

.ring--3 {
    animation: animate-2 4s linear infinite;
    animation-delay: -3s;
    border-top: 4px solid transparent;
    border-left: 4px solid #e11fc8;
    position: absolute;
    top: -66.55px;
}

.ring--3::before {
    content: "";
    top: initial;
    width: 15px;
    height: 15px;
    bottom: 12px;
    left: 12px;
    right: 12px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #e11fc833, 0 0 0 10px #e11fc822, 0 0 0 20px #e11fc811, 0 0 20px #e11fc8, 0 0 50px #e11fc8;
    background-color: #e11fc8;
}